<div class="container-fluid home-banner">
  <div class="banner-search overlay" style="background-image: url('https://storage.googleapis.com/volunteerscotland-search/vs-search-homepage-image.jpg');">
    <div class="content page-content">
      <div class="search-content">
        <form id="search-view" class="search-form" action="/search" method="GET">
          <input type="hidden" name="lat" value="{{@root.request.params.query.lat}}" id="location-lat" />
          <input type="hidden" name="lng" value="{{@root.request.params.query.lng}}" id="location-lng" />
          <input type="hidden" name="la" value="{{@root.request.params.query.la}}" id="location-la" />
          <input type="hidden" name="sort" value="{{@root.request.params.query.sort}}" id="default-sort" />
          <h2 class="mdc-typography--headline6">
            <span class="mdc-typography--headline4">Search</span> for an opportunity
          </h2>
          <div class="mdc-layout-grid b-padding">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField">
                  <span class="far fa-map-marker-alt mdc-text-field__icon geo-lookup" tabindex="0" title="Find my location"></span>
                  <input type="text" id="where-opportunities" name="location" class="mdc-text-field__input" value="{{@root.request.params.query.location}}" placeholder="" data-lpignore="true" data-location-search='{
                    "latSelector": "[name=\"lat\"]",
                    "lngSelector": "[name=\"lng\"]",
                    "laSelector": "[name=\"la\"]",
                    "locationServicesSelector": ".geo-lookup"
                  }'>
                  <label for="where-opportunities" class="mdc-floating-label">
                    Location
                  </label>
                  <div class="mdc-line-ripple"></div>
                </div>
                <!-- <div class="after-textfield-action geo-lookup">Find me</div> -->
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone filter-distance">
                <div class="mdc-layout-grid">
                  <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                      <div class="mdc-select" data-mdc-auto-init="MDCSelect">
                        <span class="mdc-select__dropdown-icon"></span>
                        <select class="mdc-select__native-control" id="distance" name="distance">
                          {{#each (split "5,10,15,20,25,30,35,40,45,50" ",")}}
                            <option value="{{this}}" {{#compare (default @root.request.params.query.distance "10") "===" this}}selected{{/compare}}>{{this}} miles</option>
                          {{/each}}
                        </select>
                        <label class="mdc-floating-label mdc-select__label--float-above" for="sort">
                          Within
                        </label>
                        <div class="mdc-line-ripple"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-text-field mdc-text-field--box mdc-text-field-tt" data-mdc-auto-init="MDCTextField">
                  <input type="text" id="what-opportunities" name="keywords" class="mdc-text-field__input" placeholder="" data-lpignore="true" data-typeahead='{
                    "typeaheadOptions": {
                      "highlight": true,
                      "minlength": 0
                    },
                    "outputs": [
                      {
                        "type": "element",
                        "options": {
                          "containerSelectorTemplate": "#search-terms",
                          "testSelectorTemplate": "#\{{dataset.name}}-\{{item.value}}",
                          "removeSelectorTemplate": "#remove-\{{dataset.name}}-\{{item.value}}",
                          "template": {{#blockStringify this~}}
                            <div class="mdc-chip mdc-theme--primary-bg" tabindex="0" id="\{{dataset.name}}-\{{item.value}}">
                              <div class="mdc-chip__text">\{{item.other}}</div>
                              <input type="hidden" name="\{{dataset.name}}[]" value="\{{item.value}}">
                              <i class="far fa-times-circle mdc-chip__icon mdc-chip__icon--trailing" tabindex="0" role="button" id="remove-\{{dataset.name}}-\{{item.value}}"></i>
                            </div>
                          {{~/blockStringify}}
                        }
                      },
                      {
                        "type": "prop",
                        "options": {
                          "selectorTemplate": "#what-opportunities",
                          "valueTemplate": ""
                        }
                      }
                    ],
                    "datasets": [
                      {{#each @root.context.metaData.terms}}
                      {{#each termGroups}}
                      {
                        "name": {{{stringify @../key}}},
                        "templates": {
                        {{#compare (length (getKeys ../termGroups)) 1}}
                        "header": "<h3>{{{../label}}}</h3>"
                        {{else}}
                        "header": "<h3>{{{../label}}} &gt; {{{label}}}</h3>"
                        {{/compare}}
                      },
                      "display": "other",
                      "items": [
                        {{#each terms}}
                        {
                          "label": {{{stringify (concat @../key ' ' textBag)}}},
                          "value": {{{stringify @key}}},
                          "other": {{{stringify label}}}
                        }{{#unless @last}},{{/unless}}
                        {{/each}}
                      ]
                      }{{#unlessAll @last @../last}},{{/unlessAll}}
                      {{/each}}
                    {{/each}}
                    ]
                  }'>
                  <label for="what-opportunities" class="mdc-floating-label">
                    Keywords
                  </label>
                  <div class="mdc-line-ripple"></div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                <button type="submit" id="search-opportunities" class="mdc-button mdc-button--raised mdc-button--large mdc-button--arrow mdc-text-field--box mdc-button--search mdc-ripple-surface mdc-ripple-surface--primary" data-mdc-auto-init="MDCRipple">
                  Search
                  <span class="far fa-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <div id="search-terms" class="mdc-chip-set"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="home-browse h-padding">
    <h3 class="mdc-drawer__content-heading cursor-pointer h-padding-full" data-collapse-target="#home-browse-collapse" role="button" aria-pressed="false" aria-label="Show browse section" tabindex="0">
      <span class="mdc-button mdc-button--raised">
        Browse
        <span class="mdc-icon-toggle">
          <span class="far fa-chevron-down" aria-hidden="true"></span>
        </span>
      </span>
      <span class="mdc-typography--body2">
        By theme, activity, or area
      </span>
    </h3>
    <div id="home-browse-collapse" style="display: none;">
      {{> browse eventContext="category-browser-home"}}
    </div>
  </div>

{{#if @root.data.auth ~}}
    <div class="mdc-layout-grid home-heading">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h2 class="mdc-typography--headline7">
            Your favourites
          </h2>
        </div>
      </div>
    </div>
    <div class="home-content-primary">
      {{#>components_horizontal_card_scroller
        outerClasses="home-favourites"
        scrollLeftIconClasses="fal fa-fw fa-angle-left"
        scrollRightIconClasses="fal fa-fw fa-angle-right"
        itemClasses="favourites-primary-content"
        items=(arrayConcat
          (map @root.data.opportunitySupplimentary.favourites_current.hits.hits (getProp "_source"))
        )
        itemsPartial="opportunity_mini"
        moreUrl="/search"
        moreText="Find more opportunities for your favourites"}}
        <p class="mdc-typography--body1 h-padding v-margin-none">
          There are currently no opportunities in your favourites, if you favourite an opportunity it will appear here for easy reference.
        </p>
      {{/components_horizontal_card_scroller}}
    </div>
{{/if ~}}

{{#compare @root.data.opportunitySupplimentary.home_latest.hits.total ">" 0}}
    <div class="mdc-layout-grid home-heading">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          {{#compare @root.data.opportunitySupplimentary.home_latest_personalised.hits.total ">" 0}}
            <h2 class="mdc-typography--headline7">
              Your latest opportunities&ensp;
              <span class="mdc-typography--body1">
                <a href="/searches">Your searches</a>
              </span>
            </h2>
          {{else}}
            <div class="mdc-typography--headline7">
              Latest opportunities &ensp;
              <span class="mdc-typography--body1">
                <a href="/search?sort=newest&page=2">Find more</a>
              </span>
            </div>
          {{/compare}}
        </div>
      </div>
    </div>
    <div class="home-content-primary">
      {{#>components_horizontal_card_scroller
        outerClasses="home-latest"
        scrollLeftIconClasses="fal fa-fw fa-angle-left"
        scrollRightIconClasses="fal fa-fw fa-angle-right"
        itemClasses="latest-primary-content latest-primary-content-personalised"
        items=(if (any @root.data.opportunitySupplimentary.home_latest_personalised.hits.hits)
          (map @root.data.opportunitySupplimentary.home_latest_personalised.hits.hits (getProp "_source"))
          else=(map @root.data.opportunitySupplimentary.home_latest.hits.hits (getProp "_source"))
        )
        itemsPartial="opportunity_mini"
        moreUrl=(if
          (compare @root.data.opportunitySupplimentary.home_latest_personalised.hits.total ">" 0)
          "/search?sort=newest"
          else="/search?sort=newest&page=2"
        )
        moreText=(if
          (compare @root.data.opportunitySupplimentary.home_latest_personalised.hits.total ">" 0)
          "All latest opportunities"
          else="Find more opportunities"
        )}}
      {{/components_horizontal_card_scroller}}
    </div>
  </div>
{{/compare}}

{{#if @root.data.auth.email ~}}
  {{#compare @root.data.opportunitySupplimentary.recently_viewed.hits.total ">" 0 ~}}
    <div class="mdc-layout-grid home-heading">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-typography--headline7">
            Recently viewed&ensp;
            <span class="mdc-typography--body1">
                <a href="/search?sort=newest&page=1">Find more</a>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="home-content-primary">
      {{#>components_horizontal_card_scroller
        outerClasses="home-latest"
        scrollLeftIconClasses="fal fa-fw fa-angle-left"
        scrollRightIconClasses="fal fa-fw fa-angle-right"
        itemClasses="latest-primary-content"
        items=(map
          (sortByIndex @root.data.opportunitySupplimentary.recently_viewed.hits.hits (split @root.request.cookies.recently_viewed ',') '_id') (getProp "_source")
        )
        itemsPartial="opportunity_mini"
        moreUrl="/search?sort=newest&page=1"
        moreText="Find more opportunities"}}
      {{/components_horizontal_card_scroller}}
    </div>
  {{/compare ~}}
{{/if ~}}
</div>