<div id="detailed-results-container" class="container-content content-primary-search container-map">
  <div class="mdc-layout-grid head">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone action">
        {{#>components_tab_bar}}
          {{>components_tab url=(concat "/search" (replace (replace @root.request.url.search "&page=" "&p=") "&only_la=true" "")) iconClasses="far fa-list fa-fw" label="List" active=(compare @root.request.url.pathname "===" "/search")}}
          {{>components_tab url=(concat "/map" (replace @root.request.url.search "&only_la=true" "")) iconClasses="far fa-map-marker-alt fa-fw" label="Map" active=(compare @root.request.url.pathname "===" "/map")}}
        {{/components_tab_bar}}
      </div>
      {{#compare (subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count) ">" 0 ~}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pagination-desktop">
        <div class="mdc-typography--body2 pull-right">
          <a href="/search{{@root.request.url.search}}&only_la=true">List {{subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count}} available across {{@root.request.params.query.la}}</a>
        </div>
      </div>
      {{/compare ~}}
    </div>
  </div>
  {{#if @root.data.search_data.map_results.pagination.totalResults ~}}
    <div class="card-loader" id="opportunity-map-loader" style="display: flex">
      <div class="card-loader-inner">
        <span class="far fa-2x fa-spinner-third fa-spin"></span>
      </div>
    </div>
    <div id="map-full" data-map-name="fullMap" class="grid-content" data-map-clustered-options='{
   {{#ifAll @root.request.params.query.distance @root.request.params.query.lat @root.request.params.query.lng ~}}
    "circle": {
      "lat": {{@root.request.params.query.lat}},
      "lng": {{@root.request.params.query.lng}},
      "radius": {{default (multiply @root.request.params.query.distance 1.60934) 0}},
      "color": "#7bc143"
    }
  {{/ifAll ~}}
  }'>
      <!-- Markers for map -->
      {{#each @root.data.search_data.map_results.hits.hits ~}}
        {{#if _source.geo_coords ~}}
          {{#each (arrayify _source.geo_coords) ~}}
            {{#if @root.request.params.query.distance ~}}
              {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
                <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
                  {{>opportunity_map ../_source}}
                </marker>
              {{/compare ~}}
            {{else}}
              <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
                {{>opportunity_map ../_source}}
              </marker>
            {{/if ~}}
          {{/each}}
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
  {{/if ~}}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var $loader = $('#opportunity-map-loader');
    $loader.css('display', 'none');
  });
</script>