<div id="detailed-results-container" class="container-content content-primary-search container-map">
  <div class="mdc-layout-grid head">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone action">
        {{#> components_tab_bar}}
         {{> search_button}}
          {{> components_tab url=(concat "/search" (replace (replace @root.request.url.search "&page=" "&p=") "&exclude=locations" "")) iconClasses="far fa-list fa-fw" label="List" active=(compare @root.request.url.pathname "===" "/search")}}
          {{> components_tab url=(concat "/map" (replace @root.request.url.search "&exclude=locations" "")) iconClasses="far fa-map-marker-alt fa-fw" label="Map" active=(compare @root.request.url.pathname "===" "/map")}}
        {{/components_tab_bar}}
      </div>
      {{#compare (subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count) ">" 0 ~}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pagination-desktop">
        <div class="mdc-typography--body2 pull-right areas">
          <a href="/search{{@root.request.url.search}}&exclude=locations">List {{subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count}} {{#compare @root.data.location_data.locations_results.hits.total ">" 0}}other{{/compare}} volunteering {{inflect (subtract @root.data.search_data.map_results.hits.total @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count) "opportunity" "opportunities"}}</a>
          {{#compare @root.data.search_data.map_results.aggregations.all_advertised_areas.buckets.length ">" 0 ~}}
          available
          {{#compare @root.data.search_data.areas_results.hits.total ">" 0 ~}}
          across
          {{/compare ~}}
          {{#with @root.data.location_data.la_results.aggregations.local_authority_areas ~}}
          {{#each buckets ~}}
          {{#if (contains (map @root.data.search_data.map_results.aggregations.all_advertised_areas.buckets (getProp "key")) (replace (replace (replace key " and " " & ") " City" "") "City of " "")) ~}}
          <span class="area">{{{replace (replace (replace key " and " " & ") " City" "") "City of " ""}}}</span>
          {{/if ~}}
          {{#if @last}}{{#compare @root.data.location_data.home_results.hits.total ">" 0}}
          {{#compare @root.data.search_data.areas_results.hits.total ">" 0 ~}}
          and
          {{/compare ~}}
          from home.{{/compare}}{{/if}}
          {{/each ~}}
          {{/with ~}}
          {{else}}
          available from home.
          {{/compare ~}}
        </div>
      </div>
      {{/compare ~}}
    </div>
  </div>
  {{#if @root.data.search_data.map_results.pagination.totalResults ~}}
  {{!--#ifAny (compare @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count ">" 0) (compare @root.request.params.query.location "===" "") ~--}}
  <div class="card-loader" id="opportunity-map-loader" style="display: flex">
    <div class="card-loader-inner">
      <span class="far fa-2x fa-spinner-third fa-spin"></span>
    </div>
  </div>
  <div id="map-full" data-map-name="fullMap" class="grid-content" data-map-clustered-options='{
  {{#ifAll @root.request.params.query.distance @root.request.params.query.lat @root.request.params.query.lng ~}}
  "circle": {
    "lat": {{@root.request.params.query.lat}},
    "lng": {{@root.request.params.query.lng}},
    "radius": {{default (multiply @root.request.params.query.distance 1.60934) 0}},
    "color": "#7bc143"
  }
  {{/ifAll ~}}
  }'>
    <!-- Markers for map -->
    {{#each @root.data.search_data.map_results.hits.hits ~}}
      {{#if _source.geo_coords ~}}
        {{#each (arrayify _source.geo_coords) ~}}
          {{#if @root.request.params.query.distance ~}}
            {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
              <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
                {{> opportunity_map ../_source}}
              </marker>
            {{/compare ~}}
          {{else}}
            <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
              {{> opportunity_map ../_source}}
            </marker>
          {{/if ~}}
        {{/each ~}}
      {{/if ~}}
    {{/each ~}}
  </div>
  {{!-- else}}
  <div class="grid-content">
    <div class="search-info">
      No location-specific results could be found
    </div>
  </div>
  {{/ifAny ~--}}
  {{else}}
  <div class="grid-content">
    {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
  </div>
  {{/if ~}}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var $loader = $('#opportunity-map-loader');
    $loader.css('display', 'none');
  });
</script>