<div id="detailed-results-container" class="container-content content-primary-search">
  <h1 class="mdc-typography--headline4">
    {{{getProperty @root.data.termsMaps.advertised_areas.slugsMap (concat @root.request.params.local_authority ".term")}}}
    volunteering opportunities
  </h1>

  {{#if @root.data.search_data.detailed_results.pagination.totalResults ~}}
  <div class="container-content container-map">
    <div id="map-content-primary" data-map-name="fullMap" class="grid-content" data-map-clustered-options='{
   {{#ifAll @root.request.params.query.distance @root.request.params.query.distance @root.request.params.query.lat @root.request.params.query.lng ~}}
    "circle": {
      "lat": {{@root.request.params.query.lat}},
      "lng": {{@root.request.params.query.lng}},
      "radius": {{#if @root.request.params.query.location}}{{default (multiply @root.request.params.query.distance 1.60934) 0}}{{else}}20{{/if}},
      "color": {{#if @root.request.params.query.location}}"#7bc143"{{else}}"rgba(0,0,0,0)"{{/if}}
    }
  {{/ifAll ~}}
  }'>
      {{#each @root.data.search_data.map_results.hits.hits ~}}
        {{#if _source.geo_opportunity_info ~}}
          {{#each (arrayify _source.geo_opportunity_info) ~}}
            {{#compare (replace (replace (replace (replace admin_district " and " " & ") " Islands" "") "City of " "") " City" "") "===" (getProperty @root.data.termsMaps.advertised_areas.slugsMap (concat @root.request.params.local_authority ".term"))}}
              {{#if @root.request.params.query.distance ~}}
                {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
                  <marker style="display:none;" data-map="fullMap" data-lat="{{latitude}}" data-lng="{{longitude}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
                    {{> opportunity_map ../_source}}
                  </marker>
                {{/compare ~}}
              {{else}}
                <marker style="display:none;" data-map="fullMap" data-lat="{{latitude}}" data-lng="{{longitude}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
                  {{> opportunity_map ../_source}}
                </marker>
              {{/if ~}}
            {{/compare ~}}
          {{/each ~}}
        {{/if ~}}
      {{/each ~}}
    </div>
  </div>

  <div class="mdc-layout-grid grid-content">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="search-info">
          Volunteering opportunities advertised
          {{#if @root.request.params.query.location ~}}
          near
          {{replace (replace @root.request.params.query.location (getProperty @root.data.termsMaps.advertised_areas.slugsMap (concat @root.request.params.local_authority ".term")) "") ", " ""}}
          or
          {{/if ~}}
          across
          {{getProperty @root.data.termsMaps.advertised_areas.slugsMap (concat @root.request.params.local_authority ".term")}}:
          <strong>{{@root.data.search_data.detailed_results.hits.total}}</strong>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone action">
        {{#compare @root.data.search_data.detailed_results.hits.total ">" 0 ~}}
          <form action="{{{@root.request.url.path}}}" method="GET">
            {{#each (split "volunteersearch_types,activities,themes,services,age_groups" ",")}}
              {{#if (getProperty @root.request.params.query this) ~}}
                {{#each (arrayify (getProperty @root.request.params.query this)) ~}}
                  <input type="hidden" name="{{../this}}[]" value="{{this}}" />
                {{/each ~}}
              {{/if ~}}
            {{/each ~}}
            {{#each (split "keywords,location,lat,lng,la" ",")}}
              {{#if (getProperty @root.request.params.query this) ~}}
                <input type="hidden" name="{{this}}" value="{{getProperty @root.request.params.query this}}" />
              {{/if ~}}
            {{/each ~}}
            <input type="hidden" name="distance" value="{{#if @root.request.params.query.distance}}{{@root.request.params.query.distance}}{{else}}10{{/if}}" />
            {{> opportunity_search_sort}}
          </form>
        {{/compare ~}}
      </div>
    </div>
  </div>

  {{#each @root.data.search_data.detailed_results.hits.hits ~}}
  {{> opportunity_search_result _source sort=sort distance=fields.distance.[0]}}
  {{/each ~}}

  <div class="foot">
    {{> pagination firstLastNavigation=true paging=@root.data.search_data.detailed_results.pagination}}
  </div>

  {{else}}
    {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
  {{/if ~}}
</div>
