<div id="detailed-results-container" class="container-content content-notes">
  {{#with @root.data.primaryResponse.hits.hits.0._source ~}}
  <form id="register-interest-form" action="/add-to-registered-interest?id={{Id}}" method="POST">
    <h2 class="mdc-typography--headline4">Register interest</h2>
    <div class="mdc-typography--headline5">
      <a href="/opportunity/{{slug}}">{{title}}</a> with <a href="/organisation/{{organisation_slug}}">{{organisation_name}}</a>
    </div>
    {{#if @root.request.params.query.applied}}
    <div class="mdc-typography--headline6">
      Thank you for registering interest in this opportunity.
    </div>
    <p class="mdc-typography--body1 t-margin-full">If you want to contact the organisation directly about this opportunity, please use the details below:</p>

    {{#ifAny opportunity_contact_first_name opportunity_contact_last_name ~}}
    <div class="mdc-typography--body1">
      <strong>Contact Name: </strong> {{{opportunity_contact_first_name}}} {{{opportunity_contact_last_name}}}
    </div>
    {{/ifAny ~}}

    {{#if opportunity_contact_email ~}}
    <div class="mdc-typography--body1">
      <strong>Contact Email: </strong> <a href="mailto:{{{opportunity_contact_email}}}">{{{opportunity_contact_email}}}</a>
    </div>
    {{/if ~}}

    {{#if organisation_website ~}}
    <div class="mdc-typography--body1">
      <strong>Website: </strong> <a href="{{fixUrl organisation_website 'http'}}">{{{organisation_website}}}</a>
    </div>

    {{/if}}
    {{else}}

    {{#unless @root.data.auth ~}}
    <div class="mdc-typography--headline6">
      If you would like to save this data for future applications you must first <a href="/sign-in">sign in</a> or <a href="/sign-up">sign up</a>.
    </div>
    {{/unless ~}}

    {{#unless opportunity_contact_email ~}}
    <p>You can't volunteer for this opportunity using this site. {{#if organisation_website}}Please contact the organisation directly using <a href="{{fixUrl organisation_website 'http'}}">{{{organisation_website}}}</a> for more information.{{/if}}</p>
    {{else}}
    {{#if (contains (map @root.data.registeredInterest.items.[0] (getProp "value")) Id) }}
    <p>You have already registered interest in this opportunity</p>
    {{else}}

    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input required id="first_name" name="first_name"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.first_name}}class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.first_name}}">
            <label class="mdc-floating-label" for="first_name">
              First name
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input required id="last_name" name="last_name"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.last_name}} class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.last_name}}">
            <label class="mdc-floating-label" for="last_name">
              Last name
            </label>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="thisfield" name="date_of_birth"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.date_of_birth}} class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.date_of_birth}}">
            <label class="mdc-floating-label" for="date_of_birth">
              Date of birth
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="location_address" name="location_address"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.location_address}} class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.location_address}}">
            <label class="mdc-floating-label" for="location_address">
              Address
            </label>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="location_city" name="location_city"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.location_city}} class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.location_city}}">
            <label class="mdc-floating-label" for="location_city">
              Town/city
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="thisfield" name="phone"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.phone}}
            class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.phone}}">
            <label class="mdc-floating-label" for="phone">
              Phone number
            </label>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input required id="email" name="email"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.email}}
            class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.email}}">
            <label class="mdc-floating-label" for="email">
              Email address
            </label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
            <input id="location_postcode" name="location_postcode"
            {{>form_validation_attributes @root.context.metaData.accountInfoValidation.location_postcode}}
            class="mdc-text-field__input mdc-text-field--fullwidth"
            value="{{@root.data.profileInfo.profile.location_postcode}}">
            <label class="mdc-floating-label" for="location_postcode">
              Postcode
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-text-field mdc-text-field--box mdc-text-field--textarea" data-mdc-auto-init="MDCTextField">
      <textarea type="text" id="thisfield" name="message" class="mdc-text-field__input mdc-text-field--fullwidth" value="" ></textarea>
      <label class="mdc-floating-label" for="message">
        Message
      </label>
    </div>

    <input type="hidden" name="email-register-interest" value="{{opportunity_contact_email}}">
    <input type="hidden" name="tsi_name" value="{{tsi_name}}">
    <input type="hidden" name="organisation_name" value="{{organisation_name}}">
    <input type="hidden" name="opportunity_contact_first_name" value="{{opportunity_contact_first_name}}">
    <input type="hidden" name="opportunity_contact_last_name" value="{{opportunity_contact_last_name}}">
    <input type="hidden" name="opportunity_contact_phone" value="{{opportunity_contact_phone}}">
    <input type="hidden" name="opportunity_contact_via_tsi" value="{{opportunity_contact_via_tsi}}">
    <input type="hidden" name="opportunity_milo_ref" value="{{milo_ref}}">
    <input type="hidden" name="opportunity_title" value="{{title}}">
    <input type="hidden" name="opportunity_minimum_age" value="{{minimum_age}}">
    <input type="hidden" name="opportunity_maximum_age" value="{{maximum_age}}">
    <input type="hidden" name="opportunity_slug" value="{{slug}}">

    {{#if @root.data.auth ~}}
    {{#unless @root.data.profileInfo.profile ~}}
    <div class="mdc-form-field">
      <div class="mdc-checkbox">
        <input type="checkbox" class="mdc-checkbox__native-control" name="store_profile_info" id="store-details"/>
        <div class="mdc-checkbox__background">
          <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
          <div class="mdc-checkbox__mixedmark"></div>
        </div>
      </div>
      <label for="store-details">
        Remember details for future applications?
        <div class="mdc-typography--caption">
          We will not use these details for anything but volunteering applications and newsletters which you have opted in to. Read our <a href="/privacy" target="_blank">privacy notice</a>.
        </div>
      </label>
    </div>
    {{else}}
    <input type="hidden" name="store_profile_info" value="true">
    {{/unless ~}}
    {{/if ~}}
    <div class="g-recaptcha"
      data-sitekey="{{@root.context.metaData.reCaptchaSiteKey}}"
      data-callback='onSubmit'
      data-size="invisible">
    </div>
    <button class="mdc-button mdc-button--raised b-margin-full" id="register-interest-submit" onclick="preSubmit()">
      <span class="far fa-hand-paper mdc-list-item__graphic" aria-hidden="true"></span>
      Register interest
    </button>
    {{/if~}}
    {{/unless ~}}
    {{/if~}}

  </form>
</div>
{{/with ~}}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
function preSubmit() {
  var form = document.getElementById("register-interest-form");
  var isValid = form.checkValidity();
  if (isValid)  grecaptcha.execute();
}
function onSubmit(token) {
  document.getElementById("register-interest-form").submit();
}
</script>