<div id="detailed-results-container" class="container-content content-saved-searches">
  {{#compare (length @root.data.searches.items.[0]) ">" 0 ~}}
  <div class="settings mdc-typography--body1">
    <span class="settings-heading">Search email frequency</span>
    {{> email_frequency}}
  </div>
  {{/compare ~}}
  <h1 class="mdc-typography--headline4 v-margin-full">
    My saved searches
  </h1>
  {{#compare (length @root.data.searches.items.[0]) ">" 0 ~}}
  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list mdc-elevation--z0">
    <li class="mdc-list-item mdc-list-item--header">
      <span class="mdc-list-item__graphic far hide-sm" aria-hidden="true"></span>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone saved-search">
            <span class="mdc-list-item__text">
              <strong>Search</strong>
            </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone align-centre">
            <span class="mdc-list-item__text">
              <strong>Subscribe</strong>
            </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone align-centre">
            <span class="mdc-list-item__text">
              <strong>Remove</strong>
            </span>
          </div>
        </div>
      </div>
    </li>
    {{#each @root.data.searches.items.[0] ~}}
      <li class="mdc-list-item mdc-ripple-upgraded">
        <span class="mdc-list-item__graphic far fa-search fa-2x hide-sm" aria-hidden="true"></span>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone saved-search">
              <span class="mdc-list-item__text">
                <a href="/search?{{{this.querystring}}}">{{{partition}}}</a>
                <div class="mdc-list-item__secondary-text">
                  {{#with (querystring querystring) ~}}
                    {{#if keywords ~}}
                      Keywords: <strong>{{{keywords}}}</strong>
                    {{/if ~}}

                    {{#if activities ~}}
                      {{inflect (length (arrayify activities)) "Activity" "Activities"}}:
                      {{#each (arrayify activities) ~}}
                        <strong>{{{getProperty @root.data.termsMaps.activities.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if volunteersearch_types ~}}
                      {{inflect (length (arrayify themes)) "Specialist role" "Specialist roles"}}:
                      {{#each (arrayify volunteersearch_types) ~}}
                        <strong>{{{getProperty @root.data.termsMaps.volunteersearch_types.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if themes ~}}
                      {{inflect (length (arrayify themes)) "Theme" "Themes"}}:
                      {{#each (arrayify themes) ~}}
                        <strong>{{{getProperty @root.data.termsMaps.themes.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if services ~}}
                      {{inflect (length (arrayify services)) "Service" "Services"}}:
                      {{#each (arrayify services)}}
                        <strong>{{{getProperty @root.data.termsMaps.services.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if age_groups ~}}
                      {{inflect (length (arrayify age_groups)) "Volunteer age group" "Volunteer age groups"}}:
                      {{#each (arrayify age_groups)}}
                        <strong>{{{getProperty @root.data.termsMaps.age_groups.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#if availability ~}}
                      {{inflect (length (arrayify availability)) "Availability" "Availability"}}:
                      {{#each (arrayify availability)}}
                        <strong>{{{getProperty @root.data.termsMaps.availability.slugsMap (concat this ".term")}}}{{#unless @last}}, {{/unless}}</strong>
                      {{/each ~}}
                    {{/if ~}}

                    {{#ifAll location distance ~}}
                      {{#ifAny activities themes services age_groups availability ~}}
                        Within
                      {{else}}
                        within
                      {{/ifAny ~}}
                      <strong>{{round distance}}</strong>
                      miles of
                      <strong>{{{location}}}</strong>
                    {{/ifAll ~}}
                  {{/with ~}}
                </div>
              </span>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone align-centre">
              <div class="mdc-chip-set mdc-chip-set--filter">
                {{#> ajax_chip
                  onUrl="/toggle-subscription"
                  offUrl="/toggle-subscription"
                  onText="Email"
                  offText="Email"
                  onMethod="POST"
                  offMethod="POST"
                  iconClasses="fal fa-fw fa-times"
                  on=partitionActive
                }}
                {
                  "onData": {
                    "name": {{{stringify ../partition}}}
                  },
                  "offData": {
                    "name": {{{stringify ../partition}}}
                  }
                }
                {{/ajax_chip}}
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
              {{> delete_search name=partition}}
            </div>
          </div>
        </div>
      </li>
      {{#unless @last}}
        <li class="mdc-list-divider" role="separator"></li>
      {{/unless ~}}
    {{/each ~}}
  </ul>
  {{else}}
  <p class="mdc-typography--body1">
    You don't yet have any searches saved. To save a search, click the &ensp;<strong><span class="far fa-search-plus mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>Save/email this search</strong>&ensp;button once you've entered some search parameters.
  </p>
  {{/compare ~}}
</div>
