{{~#*inline "widget_code" ~}}type="text/javascript" src="https://{{#compare request.url.hostname "volunteerscotland-search.local"}}volunteerscotland-search.local:9000{{else}}widget.search.volunteerscotland.net{{/compare}}/widget.js" data-url="https://{{#compare request.url.hostname "volunteerscotland-search.local"}}volunteerscotland-search.local:8080{{else}}search.volunteerscotland.net{{/compare}}/widget"{{#ifAll @root.request.body.filter (compare @root.request.body.filter "!==" "0")}} data-tsi="{{@root.request.body.filter}}"{{/ifAll}}{{#ifAll @root.request.body.colour_primary (compare @root.request.body.colour_primary "!==" "#00a0af")}} data-colour-primary="{{@root.request.body.colour_primary}}"{{/ifAll}}{{#ifAll @root.request.body.colour_secondary (compare @root.request.body.colour_secondary "!==" "#387c2c")}} data-colour-secondary="{{@root.request.body.colour_secondary}}"{{/ifAll}}{{#compare @root.request.body.enable_mva 'off'}} data-disable-mva="true"{{/compare}}{{~/inline ~}}

<div class="container-fluid container-content content-page">
  <h2>Search widget builder</h2>
  <p class="mdc-typography--body1">
    Please choose a widget type and optional location filter.
  </p>
  <form action="{{@root.request.url.pathname}}" method="post">
    {{#unless @root.request.body.filter ~}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-select" data-mdc-auto-init="MDCSelect">
            <span class="mdc-select__dropdown-icon"></span>
            <select class="mdc-select__native-control" id="filter" name="filter">
              <option value="0">All of Scotland (no filter)</option>
              <option value="1"{{#compare @root.request.body.filter "1"}} selected{{/compare}}>Aberdeen</option>
              <option value="2"{{#compare @root.request.body.filter "2"}} selected{{/compare}}>Aberdeenshire</option>
              <option value="3"{{#compare @root.request.body.filter "3"}} selected{{/compare}}>Angus</option>
              <option value="4"{{#compare @root.request.body.filter "4"}} selected{{/compare}}>Argyll and Bute</option>
              <option value="5"{{#compare @root.request.body.filter "5"}} selected{{/compare}}>Clackmannanshire</option>
              <option value="6"{{#compare @root.request.body.filter "6"}} selected{{/compare}}>Dumfries and Galloway</option>
              <option value="7"{{#compare @root.request.body.filter "7"}} selected{{/compare}}>Dundee</option>
              <option value="8"{{#compare @root.request.body.filter "8"}} selected{{/compare}}>East Ayrshire</option>
              <option value="9"{{#compare @root.request.body.filter "9"}} selected{{/compare}}>East Dunbartonshire</option>
              <option value="10"{{#compare @root.request.body.filter "10"}} selected{{/compare}}>East Lothian</option>
              <option value="11"{{#compare @root.request.body.filter "11"}} selected{{/compare}}>East Renfrewshire</option>
              <option value="12"{{#compare @root.request.body.filter "12"}} selected{{/compare}}>Edinburgh</option>
              <option value="13"{{#compare @root.request.body.filter "13"}} selected{{/compare}}>Falkirk</option>
              <option value="14"{{#compare @root.request.body.filter "14"}} selected{{/compare}}>Fife</option>
              <option value="15"{{#compare @root.request.body.filter "15"}} selected{{/compare}}>Glasgow</option>
              <option value="16"{{#compare @root.request.body.filter "16"}} selected{{/compare}}>Highland</option>
              <option value="17"{{#compare @root.request.body.filter "17"}} selected{{/compare}}>Inverclyde</option>
              <option value="18"{{#compare @root.request.body.filter "18"}} selected{{/compare}}>Midlothian</option>
              <option value="19"{{#compare @root.request.body.filter "19"}} selected{{/compare}}>Moray</option>
              <option value="32"{{#compare @root.request.body.filter "32"}} selected{{/compare}}>Na h-Eileanan Siar (Western Isles)</option>
              <option value="20"{{#compare @root.request.body.filter "20"}} selected{{/compare}}>North Ayrshire</option>
              <option value="21"{{#compare @root.request.body.filter "21"}} selected{{/compare}}>North Lanarkshire</option>
              <option value="22"{{#compare @root.request.body.filter "22"}} selected{{/compare}}>Orkney Islands</option>
              <option value="23"{{#compare @root.request.body.filter "23"}} selected{{/compare}}>Perth and Kinross</option>
              <option value="24"{{#compare @root.request.body.filter "24"}} selected{{/compare}}>Renfrewshire</option>
              <option value="25"{{#compare @root.request.body.filter "25"}} selected{{/compare}}>Scottish Borders</option>
              <option value="26"{{#compare @root.request.body.filter "26"}} selected{{/compare}}>Shetland Islands</option>
              <option value="27"{{#compare @root.request.body.filter "27"}} selected{{/compare}}>South Ayrshire</option>
              <option value="28"{{#compare @root.request.body.filter "28"}} selected{{/compare}}>South Lanarkshire</option>
              <option value="29"{{#compare @root.request.body.filter "29"}} selected{{/compare}}>Stirling</option>
              <option value="30"{{#compare @root.request.body.filter "30"}} selected{{/compare}}>West Dunbartonshire</option>
              <option value="31"{{#compare @root.request.body.filter "31"}} selected{{/compare}}>West Lothian</option>
            </select>
            <label class="mdc-floating-label" for="filter">
              Search filter
            </label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-layout-grid colorwells">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
                  <input id="colour_primary" name="colour_primary" type="text" maxlength="7" class="colorwell mdc-text-field__input mdc-text-field--fullwidth" value="{{default @root.request.body.colour_primary '#00a0af'}}" data-lpignore="true" />
                  <label class="mdc-floating-label" id="colour_primary_label" for="colour_primary">
                    Colour (primary)
                  </label>
                </div>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-text-field mdc-text-field--box" data-mdc-auto-init="MDCTextField">
                  <input id="colour_secondary" name="colour_secondary" type="text" maxlength="7" class="colorwell mdc-text-field__input mdc-text-field--fullwidth" value="{{default @root.request.body.colour_secondary '#387c2c'}}" data-lpignore="true" />
                  <label class="mdc-floating-label" id="colour_secondary_label" for="colour_secondary">
                    Colour (secondary)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="mdc-form-field">
            <div class="mdc-checkbox" data-mdc-auto-init="MDCCheckbox">
              <input type="hidden" value="off" name="enable_mva">
              <input type="checkbox" class="mdc-checkbox__native-control" name="enable_mva" id="enable_mva" value="on"{{#unless (compare @root.request.body.enable_mva 'off')}} checked{{/unless}} />
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
            </div>
            <label for="enable_mva">Use 'My Volunteer Account' to register interest</label>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
          <div id="colorpicker"></div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-ripple-surface mdc-ripple-surface--primary mdc-ripple-upgraded" type="submit" data-mdc-auto-init="MDCRipple">
            <span class="far fa-cog fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
            Generate
          </button>
        </div>
      </div>
    </div>
    {{else}}
    <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-ripple-surface mdc-ripple-surface--primary mdc-ripple-upgraded" type="submit" data-mdc-auto-init="MDCRipple">
      <span class="far fa-cog fa-fw mdc-list-item__graphic" aria-hidden="true"></span>
      Change settings
    </button>
    {{/unless ~}}
  </form>

  {{#if @root.request.body.filter ~}}
  <hr />
  <h3>How to embed the widget</h3>
  <p class="mdc-typography--body1">
    Please use the following code to embed the specified search widget on your own website:
  </p>
  <div class="embed copyable">&lt;script {{> widget_code~}}&gt;&lt;/script&gt;</div>
  <button class="btn copy" data-source="embed" unselectable="on"><i aria-hidden="true" class="fa fa-clipboard"></i> Copy</button>

  <hr />
  <h3>Preview</h3>
  <script {{> widget_code}}></script>
  {{/if ~}}
</div>
