{{> widget_style}}
<div class="volops-main">
  <div class="volops-inner">
    {{> widget_search_form}}

    <div class="h-padding-full">
      {{#compare @root.data.search_data.map_results.hits.total ">" 0}}
        <div class="mdl-tabs mdl-njs-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#/search?{{{substr @root.request.url.search 1}}}" class="mdl-tabs__tab">
              <span class="material-icons icon-left" aria-hidden="true">list</span>
              List
            </a>
            <a href="#/map?{{{substr @root.request.url.search 1}}}" class="mdl-tabs__tab is-active">
              <span class="material-icons icon-left" aria-hidden="true">place</span>
              Map
            </a>
          </div>
        </div>
      {{/compare}}

      <div class="map-results" data-component="LeafletMap" data-LeafletMap='{{#json}}
        {{#json key="points" type="array"}}{{/json}},
        {{#json key="mapOptions"}}
          {{{json key="fullscreenControl" value=true}}},
          {{{json key="scrollWheelZoom" value=false}}},
          {{{json key="trackResize" value=false}}}
        {{/json}},
        {{#json key="initialLatLng"}}
          {{{json key="lat" value=55.94528820000001}}},
          {{{json key="lng" value=-3.200755699999945}}}
        {{/json}},
        {{{json key="initialZoom" value=9}}},
        {{#ifAll @root.request.params.query.lat @root.request.params.query.lng @root.request.params.query.distance}}
          {{#json key="featureGroups" type="array"}}
            {{#json}}
              {{{json key="boundToThis" value=true}}},
              {{#json key="features" type="array"}}
                {{#json}}
                  {{{json key="type" value="Circle"}}},
                  {{#json key="latLng"}}
                    {{{json key="lat" value=@root.request.params.query.lat}}},
                    {{{json key="lng" value=@root.request.params.query.lng}}}
                  {{/json}},
                  {{#json key="options"}}
                    {{{json key="radius" value=(multiply @root.request.params.query.distance 1000.609344)}}}
                  {{/json}}
                {{/json}}
              {{/json}}
            {{/json}}
          {{/json}},
        {{/ifAll}}
        {{#json key="markerClusterGroups" type="array"}}
          {{#json}}
            {{#json key="options"}}
              {{{json key="showCoverageOnHover" value=false}}}
            {{/json}},
            {{{json key="boundToThis" value=true}}},
            {{#json key="markers" type="array"}}
              {{#each @root.data.search_data.map_results.hits.hits}}
                {{#each _source.geo_coords}}
                  {{#json}}
                    {{#json key="latLng" type="array"}}
                      {{{json value=lat}}},
                      {{{json value=lon}}}
                    {{/json}},
                          {{#json key="popupContent" type="string"~}}
                      <a href="#/opportunity/{{../_source.Id}}/{{../_source.slug}}?{{{substr @root.request.url.search 1}}}">
                        <strong>{{replace ../_source.title '"' "&quot;"}}</strong>
                      </a><br />
                      {{truncate (replace ../_source.description '"' "&quot;") "255"}}
                    {{~/json}},
                    {{#json key="options"}}
                      {{{json key="title" value=(replace ../_source.title "'" "&apos;")}}}
                    {{/json}}
                  {{/json}},
                {{/each}}
              {{/each}}
            {{/json}}
          {{/json}}
        {{/json}}
      {{/json}}'></div>
    </div>
  </div>
</div>