{{> widget_style}}
<div class="volops-main">
  <div class="volops-inner">
    {{> widget_search_form}}

    <div class="h-padding-full">
      {{#compare @root.data.search_data.detailed_results.hits.total ">" 0}}
        <div class="mdl-tabs mdl-njs-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#/search?{{{substr @root.request.url.search 1}}}" class="mdl-tabs__tab is-active">
              <span class="material-icons icon-left" aria-hidden="true">list</span>
              List
            </a>
            <a href="#/map?{{{substr @root.request.url.search 1}}}" class="mdl-tabs__tab">
              <span class="material-icons icon-left" aria-hidden="true">place</span>
              Map
            </a>
          </div>
        </div>
      {{/compare}}

      <div class="v-margin-full">
        {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
      </div>

      {{#each @root.data.search_data.detailed_results.hits.hits ~}}
        <div class="mdl-card mdl-shadow--2dp full-width v-margin-full">
          <div class="mdl-card__title">
            <div class="mdl-card__title-text">
              <a href="#/opportunity/{{_source.Id}}/{{_source.title_slug}}?{{{substr @root.request.url.search 1}}}">{{_source.title}}</a>
            </div>
            <small>{{_source.organisation_name}}</small>
          </div>
          <div class="mdl-card__supporting-text">
            {{_source.description}}
          </div>
        </div>
        {{> opportunity_search_result _source distance=fields.distance.[0] view="widget"}}
      {{/each ~}}

      <div class="foot">
        {{> pagination paging=@root.data.search_data.detailed_results.pagination type="widget"}}
      </div>
    </div>
  </div>
</div>