<h3 class="h-padding-full v-margin">Search for volunteering opportunities</h3>
<form action="/{{#compare @root.request.url.pathname "/map"}}map{{else}}search{{/compare}}?view=widget" method="GET" data-component="AjaxForm" data-AjaxForm='{{#json}}
      {{#json key="onSuccessRules"}}
        {{#json key="contents"}}
          {{{json key="#volops-main" value="{{{response}}}"}}}
        {{/json}}
      {{/json}}
    {{/json}}'>
  <div class="mdl-grid">
    {{#each (filter @root.context.metaData.terms "noSearchFilter" "===" undefined) ~}}
      {{!-- {{#ifAll (compare @index ">" 0) (modulo @index 3 0) ~}}
        </div>
        <div class="mdl-grid">
      {{/ifAll ~}} --}}
      <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
        <div class="multi-select" data-component="MultiSelect" data-MultiSelect='{ "selectedListLimit": 4, "selectedListLabel": "Selected" }'>
          <div class="mdl-badge mdl-badge--overlap multi-select-count" data-badge="0"></div>
          <button type="button" id="multi-{{key}}" class="mdl-button mdl-button--raised mdl-js-button full-width">
            {{{label}}}
          </button>
          <ul class="mdl-menu mdl-js-menu" for="multi-{{key}}">
            {{#each termGroups ~}}
              {{#unless (compare label "Other") ~}}
              <li class="mdl-list__item">
                <strong>{{{label}}}</strong>
              </li>
              {{/unless ~}}
              {{#each terms ~}}
                <li class="mdl-list__item mdl-js-ripple-effect" for="volops-{{../../key}}_{{key}}">
                  <span class="mdl-list__item-primary-content">
                    {{{label}}}
                  </span>
                  <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="volops-{{../../key}}_{{key}}">
                      <input type="checkbox" name="{{../../key}}" id="volops-{{../../key}}_{{key}}" class="mdl-checkbox__input"
                          value="{{key}}" {{#if (contains (getProperty @root.request.params.query ../../key) key)}}checked{{/if}}/>
                    </label>
                  </span>
                </li>
              {{/each ~}}
            {{/each ~}}
          </ul>
        </div>
      </div>
    {{/each ~}}
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width"
          data-component="Typeahead" data-Typeahead='{{#json}}
            {{#json key="typeaheadOptions"}}
              {{{json key="highlight" value=2}}},
              {{{json key="minLength" value=0}}}
            {{/json}},
            {{#json key="itemSelectedRules"}}
              {{#json key="run" type="array"}}
                {{#json type="string"}}
                  $("#volops-" + this.dataset.name + "_" + this.suggestion.value).parent().trigger("click")
                {{/json}},
                {{#json type="string"}}
                  this.instance.textbox.typeahead("val", "").typeahead("close")
                {{/json}}
              {{/json}}
            {{/json}},
            {{#json key="datasets" type="array"}}
              {{#each @root.context.metaData.terms}}
                {{#each termGroups}}
                  {{#json}}
                    {{{json key="name" value=../key}}},
                    {{#json key="templates"}}
                      {{#compare (length ../termGroups) 1}}
                        {{#json key="header" type="string"}}
                          <h3>{{{../label}}}</h3>
                        {{/json}}
                      {{else}}
                        {{#json key="header" type="string"}}
                          <h3>{{{../label}}} &gt; {{{label}}}</h3>
                        {{/json}}
                      {{/compare}}
                    {{/json}},
                    {{{json key="display" value="other"}}},
                    {{#json key="bloodhound"}}
                      {{{json key="datumTokenizer" value="objWhitespace"}}},
                      {{{json key="datumTokenizerField" value="label"}}},
                      {{{json key="queryTokenizer" value="whitespace"}}},
                      {{#json key="local" type="array"}}
                        {{#each terms}}
                          {{#json}}
                            "label": {{{stringify (concat ../key ' ' textBag)}}},
                            "value": {{{stringify key}}},
                            "other": {{{stringify label}}}
                          {{/json}},
                        {{/each}}
                      {{/json}}
                    {{/json}}
                  {{/json}},
                {{/each}}
              {{/each}}
            {{/json}},
            {{{json key="clearIfNothingSelected" value=true}}}
          {{/json}}'>
        <input class="mdl-textfield__input full-width" type="text" name="keywords" id="volops-keywords" value="{{@root.request.params.query.keywords}}">
        <label class="mdl-textfield__label" for="volops-keywords">Keywords</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width
        {{~#ifAll @root.request.params.query.lat @root.request.params.query.lng @root.request.params.query.distance}} typeahead-locked{{/ifAll~}}"
          data-component="Typeahead" data-Typeahead='{
              "typeaheadOptions": {
                "highlight": 2,
                "minLength": 3
              },
              "itemSelectedRules": {
                "addClasses": {
                  ">": [
                    "typeahead-locked"
                  ]
                },
                "focus": "#volops-distance",
                "run": [
                  "console.log(\"Location\", this.suggestion);\n"
                ],
                "attributes": {
                  "#volops-lat": {
                    "value": "\{{suggestion.point.lat}}"
                  },
                  "#volops-lng": {
                    "value": "\{{suggestion.point.lon}}"
                  },
                  ">input": {
                    "readonly": "readonly"
                  }
                }
              },
              "nothingSelectedRules": {
                "run": [
                  "$(`#volops-location`).typeahead(`val`, ``)",
                  "console.log(\"Location cleared\");\n"
                ],
                "attributes": {
                  "#volops-lat": {
                    "value": ""
                  },
                  "#volops-lng": {
                    "value": ""
                  },
                  "#volops-location": {
                    "readonly": null
                  }
                },
                "removeClasses": {
                  ">": [
                    "typeahead-locked"
                  ]
                }
              },
              "datasets": [
                {
                  "name": "geo_lookup",
                  "display": "display",
                  "bloodhound": {
                    "datumTokenizer": "objWhitespace",
                    "datumTokenizerField": "place",
                    "queryTokenizer": "whitespace",
                    "remote": {
                      "url": "https://volunteerscotland-search.local:8080/geo-lookup?q=*",
                      "wildcard": "*"
                    }
                  }
                }
              ],
              "clearIfNothingSelected": true
            }'>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon typeahead-lock"
            data-component="DomManipulatorTrigger" data-DomManipulatorTrigger='{
                "click": {
                  "attributes": {
                    "#volops-lat": {
                      "value": null
                    },
                    "#volops-lng": {
                      "value": null
                    },
                    "#volops-location": {
                      "readonly": null
                    }
                  },
                  "removeClasses": {
                    "<": [
                      "typeahead-locked"
                    ]
                  },
                  "run": [
                    "$(`#volops-location`).typeahead(`val`, ``)"
                  ],
                  "focus": "#volops-location"
                }
              }'>
          <span class="material-icons">clear</span>
        </button>
        <input class="mdl-textfield__input" type="text" name="location" id="volops-location" value="{{@root.request.params.query.location}}"
          {{#ifAll @root.request.params.query.lat @root.request.params.query.lng @root.request.params.query.distance}}readonly="readonly"{{/ifAll}}>
        <label class="mdl-textfield__label" for="volops-location">Location</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--2-col-desktop">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <select class="mdl-textfield__input" id="volops-distance" name="distance">
          <option value="5">5 miles</option>
          <option value="10" selected="">10 miles</option>
          <option value="15">15 miles</option>
          <option value="20">20 miles</option>
          <option value="25">25 miles</option>
          <option value="30">30 miles</option>
          <option value="35">35 miles</option>
          <option value="40">40 miles</option>
          <option value="45">45 miles</option>
          <option value="50">50 miles</option>
        </select>
        <label class="mdl-textfield__label" for="volops-distance">Distance</label>
      </div>
    </div>
  </div>
  <div style="text-align: right;" class="h-padding-full">
    <input type="hidden" name="lat" id="volops-lat" value="{{@root.request.params.query.lat}}">
    <input type="hidden" name="lng" id="volops-lng" value="{{@root.request.params.query.lng}}">
    <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored">
      Search
      <span class="material-icons icon-right" aria-hidden="true">search</span>
    </button>
  </div>
</form>