<div class="mdc-drawer__content">
  {{#if (regexMatch @root.request.url.pathname "^/opportunities-in" "gi")}}
    <form action="/opportunities-in/area" method="GET" class="search-form" novalidate>
      <input type="hidden" name="search_la" value="{{@root.request.params.local_authority}}" />
  {{else}}
    <form id="opportunity-search-form" action="/{{#compare @root.request.url.pathname "/map"}}map{{else}}search{{/compare}}" method="GET" class="search-form" novalidate>
  {{/if}}
    <input type="hidden" name="sort" value="{{@root.request.params.query.sort}}" id="{{instance_id}}-sort">
    <div class="h-padding">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField" style="z-index:5;">
              <span class="far fa-map-marker-alt mdc-text-field__icon geo-lookup" tabindex="0" title="Find my location" role="button" style="pointer-events: initial !important;"></span>
              <input type="text" id="{{instance_id}}-location" name="location" class="mdc-text-field__input mdc-text-field--fullwidth search-location" value="{{#ifAll @root.request.params.query.lat @root.request.params.query.lng}}{{@root.request.params.query.location}}{{/ifAll}}" placeholder="" data-lpignore="true" data-location-search='{
                "latSelector": "[name=\"lat\"]",
                "lngSelector": "[name=\"lng\"]",
                "laSelector": "[name=\"la\"]",
                "locationServicesSelector": ".geo-lookup"
              }'>
              <label class="mdc-floating-label" for="{{instance_id}}-location">
                Location
              </label>
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="">
              Within
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="h-padding">
              <div data-slider data-slider-value-target="#slider-distance-value" data-slider-display-target="#slider-distance-display" class="mdc-slider mdc-slider--discrete" tabindex="0" role="slider" aria-valuemin="5" aria-valuemax="50" data-step="5" name="distance" aria-valuenow="{{default @root.request.params.query.distance 10}}" aria-label="Select distance">
                <div class="mdc-slider__track-container">
                  <div class="mdc-slider__track"></div>
                </div>
                <div class="mdc-slider__thumb-container">
                  <div class="mdc-slider__pin">
                    <span class="mdc-slider__pin-value-marker"></span>
                  </div>
                  <svg class="mdc-slider__thumb" width="21" height="21">
                    <circle cx="10.5" cy="10.5" r="7.875"></circle>
                  </svg>
                  <div class="mdc-slider__focus-ring"></div>
                </div>
              </div>
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div style="line-height:48px;">
              <span id="slider-distance-display">{{default @root.request.params.query.distance 10}}</span> miles
            </div>
          </div>
          <input type="hidden" name="distance" id="slider-distance-value" value="{{default @root.request.params.query.distance 10}}">
        </div>
      </div>
      <input type="hidden" name="lat" value="{{#if @root.request.params.query.location}}{{@root.request.params.query.lat}}{{/if}}" id="location-lat" />
      <input type="hidden" name="lng" value="{{#if @root.request.params.query.location}}{{@root.request.params.query.lng}}{{/if}}" id="location-lng" />

      <div class="header mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon mdc-text-field-tt" data-mdc-auto-init="MDCTextField">
        <input type="text" id="what-primary-content" name="keywords" class="mdc-text-field__input" placeholder="" value="{{@root.request.params.query.keywords}}" data-lpignore="true" data-typeahead='{
          "typeaheadOptions": {
            "highlight": true,
            "minlength": 0
          },
          "outputs": [
          {
            "type": "prop",
            "options": {
              "selectorTemplate": "#cb-\{{item.datasetName}}-\{{item.value}}",
              "prop": "checked",
              "valueTemplate": "checked"
            }
          }
          ],
          "datasets": [
          {{#each @root.context.metaData.terms}}
          {{#each termGroups}}
          {
            "name": {{{stringify @../key}}},
            "templates": {
              {{#compare (length (getKeys ../termGroups)) 1}}
              "header": "<h3>{{{../label}}}</h3>"
              {{else}}
              "header": "<h3>{{{../label}}} &gt; {{{label}}}</h3>"
              {{/compare}}
            },
            "display": "other",
            "items": [
            {{#each terms}}
            {
              "label": {{{stringify (concat @../key ' ' textBag)}}},
              "value": {{{stringify @key}}},
              "other": {{{stringify label}}}
            }{{#unless @last}},{{/unless}}
            {{/each}}
            ]
          }{{#unlessAll @last @../last}},{{/unlessAll}}
          {{/each}}
          {{/each}}
          ]
        }'>
        <span class="fas fa-search active-search-icon mdc-text-field__icon" role="button" onclick=" $(this).parents('form:first').submit();" style="pointer-events: initial !important; z-index: 500;" tabindex="-1"></span></a>
        <label for="what-primary-content" class="mdc-floating-label">
          Keywords / categories
        </label>
        <div class="mdc-line-ripple"></div>
      </div>
      {{#each @root.context.metaData.terms ~}}
      {{#unless (getProperty @root.data.currentSite.fixedFilters @key) ~}}
      {{#> components_advanced_checkbox_list name=@key label=label}}
      {{#each termGroups ~}}
      {{#> components_advanced_checkbox_group name=(concat @../key '-' @key) label=label hideParent=(compare (length (getKeys ../../termGroups)) 1)}}
      {{#each terms ~}}
      {{> components_advanced_checkbox_item name=@../../../../key value=@key label=label checked=(contains (getProperty @root.request.params.query @../../../../key) @key) group=(concat @../../../../key '-' @../../../key) noIndent=(compare (length (getKeys ../../../../termGroups)) 1)}}
      {{/each ~}}
      {{/components_advanced_checkbox_group}}
      {{/each ~}}
      {{/components_advanced_checkbox_list}}
      {{/unless ~}}
      {{/each ~}}

      <div class="mdc-list-group">
        <div data-collapse-target="#{{instance_id}}-availability-collapse" data-collapse-icon="#{{instance_id}}-availability-draw-icon" role="button" aria-pressed="false" aria-label="Show {{getProperty @root.context.metaData.termTypeLabels (concat type ".plural")}}" tabindex="0">
          <h3 class="mdc-list-group__subheader cursor-pointer noselect">
            Availability
          </h3>
        </div>
        <div class="mdc-drawer--occasional-ie11" id="{{instance_id}}-availability-collapse" style="{{#unless @root.request.params.query.availability}}display:none{{/unless}}">
          {{>opportunity_availability_selector type="availability"}}
        </div>
        <li class="mdc-list-item cursor-pointer noselect" data-collapse-icon="#{{instance_id}}-availability-draw-icon" data-collapse-target="#{{instance_id}}-availability-collapse">
          <span id="{{instance_id}}-availability-draw-icon" class="fas {{#unless @root.request.params.query.availability}}fa-chevron-down{{else}}fa-chevron-up{{/unless}} pull-centre" ></span>
        </li>
      </div>

      <div class="v-margin">
        <button class="mdc-button mdc-button--raised mdc-button--large mdc-button--fullwidth mdc-ripple-surface mdc-ripple-surface--primary" type="submit" id="{{instance_id}}-search-submit" data-mdc-auto-init="MDCRipple">
          <span class="far fa-search fa-fw" aria-hidden="true"></span>
          Search
        </button>
      </div>
    </div>
  </form>
</div>