{{#if paging.totalResults ~}}
<div class="search-info">
  <strong>
    {{addCommas paging.totalResults}}
  </strong>
  {{#if (contains @root.route.name "organisation_search") ~}}
  {{inflect paging.totalResults "organisation" "organisations"}}
  {{#compare @root.request.params.query.view "!==" "widget" ~}}
  with current volunteering opportunities
  {{/compare ~}}
  {{else}}
  {{#if (contains @root.route.name "volunteering_event_search") ~}}
  volunteering {{inflect paging.totalResults "event" "events"}}
  {{else}}
  volunteering {{inflect paging.totalResults "opportunity" "opportunities"}}
  {{/if ~}}
  {{/if ~}}
  {{if @root.request.params.query.exclude "(filtered)"}}
  {{#compare @root.route.name "!==" "opportunity_map" ~}}
  {{#compare paging.totalResults ">" 10 ~}} -
  <span class="hide-sm">showing</span>
  page {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
  {{/compare ~}}
  {{/compare ~}}
  {{#if @root.request.params.query.exclude ~}}
  <a href="{{#compare @root.request.params.query.view "widget"}}#{{/compare}}/search{{replace @root.request.url.search "&exclude=locations" ""}}">Show all</a>
  {{/if ~}}
</div>
{{else}}
{{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.activities @root.request.params.query.themes @root.request.params.query.organisation_activities @root.request.params.query.has_opportunities @root.request.params.query.volunteersearch_types @root.request.params.query.age_groups @root.request.params.query.services ~}}
<div class="search-info">
  No results could be found, please try a different search query
  {{#compare @root.route.name "opportunities_in" ~}}
  or <a href="/search{{@root.request.url.search}}">search across all areas</a>
  {{/compare ~}}
</div>
{{/ifAny ~}}
{{/if ~}}